{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login - SWord{% endblock %}

{% block library %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      {# <img src="assets/images/logo.png" class="image"> #}
      <div class="content">
        登录到 SWord
      </div>
    </h2>
    <form class="ui large form {% if error %}error{% endif %}" method="post">
      {% csrf_token %}
      {% if error %}
        <div class="ui error message">
          {{ error }}
        </div>
      {% endif %}
      <div class="ui stacked segment">
        
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="用户名">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="密码">
          </div>
        </div>
        <input type="submit" class="ui fluid large teal submit button" value="登录"></input>
      </div>

    </form>

    <div class="ui message">
      新用户？ <a href="{% url 'accounts:register' %}">注册</a>
    </div>
  </div>
</div>
{% endblock %}
