body {
  font-family: Calibri, "Microsoft Yahei", sans-serif;
}
.ui.header {
  font-family: Calibri, "Microsoft Yahei", sans-serif;
}
.ui.inverted.menu {
  font-family: 'Lato', 'Helvetica Neue', "Microsoft Yahei", Arial, Helvetica, sans-serif;
  background: #2C96D6;
}

h1, h2, h3, h4, h5 {
	font-family: 'Lato', 'Helvetica Neue', "Microsoft Yahei", Arial, Helvetica, sans-serif;
}
