{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh">
<head>
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- Site Properties -->
	<title>Homepage - SWord</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
	<script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>

	<link rel="stylesheet" href="{% static 'generic/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'memo/css/homepage.css' %}">

	<script>
	$(document).ready(function() {
		// fix menu when passed
		$('.masthead').visibility({
			once: false,
			onBottomPassed: function() {
				$('.fixed.menu').transition('fade in');
			},
			onBottomPassedReverse: function() {
				$('.fixed.menu').transition('fade out');
			}
		});
		// create sidebar and attach to menu open
		$('.ui.sidebar').sidebar('attach events', '.toc.item');
	});
	</script>
</head>
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden inverted menu">
	<div class="ui container">
		<a class="active item">花甲单词</a>
		{% if request.user.is_active %}
			<a href="{% url 'memo:memorizing' %}" class="item">背单词！</a>
		{% endif %}
		<div class="right menu">
		{% if request.user.is_active %}
			<a href="{% url 'memo:profile' %}" class="item">{{ request.user.username }}</a>
			<a href="{% url 'accounts:logout' %}" class="item">Log out</a>
		{% else %}
			<a href="{% url 'accounts:login' %}" class="item">Log in</a>
			<a href="{% url 'accounts:register' %}" class="item">Sign up</a>
		{% endif %}
		</div>
	</div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
	<a class="active item">花甲单词</a>
	{% if request.user.is_active %}
		<a href="{% url 'memo:memorizing' %}" class="item">背单词！</a>
	{% endif %}
	{% if request.user.is_active %}
		<a href="{% url 'memo:profile' %}" class="item">{{ request.user.username }}</a>
		<a href="{% url 'accounts:logout' %}" class="item">Log out</a>
	{% else %}
		<a href="{% url 'accounts:login' %}" class="item">Log in</a>
		<a href="{% url 'accounts:register' %}" class="item">Sign up</a>
	{% endif %}
</div>


<!-- Page Contents -->
<div class="pusher">
	<div class="ui inverted vertical masthead center aligned segment">

		<div class="ui container">
			<div class="ui large secondary inverted pointing menu">
				<a class="toc item">
					<i class="sidebar icon"></i>
				</a>
				<a class="active item">花甲单词</a>
				{% if request.user.is_active %}
					<a href="{% url 'memo:memorizing' %}" class="item">背单词！</a>
				{% endif %}
				<div class="right item">
				{% if request.user.is_active %}
					<a href="{% url 'memo:profile' %}" class="ui inverted button">{{ request.user.username }}</a>
					<a href="{% url 'accounts:logout' %}" class="ui inverted button">Log out</a>
				{% else %}
					<a href="{% url 'accounts:login' %}" class="ui inverted button">Log in</a>
					<a href="{% url 'accounts:register' %}" class="ui inverted button">Sign up</a>
				{% endif %}
				</div>
			</div>
		</div>

		<div class="ui text container">
			<h1 class="ui inverted header">
				SWord
			</h1>
			<h2>扇贝小作业</h2>
			<h5>上面那个标题是乱写的…</h5>
		</div>

	</div>

	<div class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="six wide centered column">
					<h3 class="ui header">单词学习模式模仿扇贝单词</h3>
					<p>如果你已登录，尝试背一组？</p>
					<a href="{% url 'memo:memorizing' %}" class="ui button">
					Go <i class="arrow right icon"></i>
					</a>
				</div>
				<div class="eight wide right floated column">
					<img src="{% static 'assets/img/example.jpg' %}" class="ui huge bordered rounded image">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
