{% extends "base.html" %}
{% load staticfiles %}

{% block library %}
<!-- <script src="//cdn.bootcss.com/vue/1.0.22/vue.min.js"></script> -->
<script src="//cdn.bootcss.com/jquery.rest/1.0.2/jquery.rest.min.js"></script>
<script src="{% static 'generic/lib/vue.js' %}"></script>
<link rel="stylesheet" href="{% static 'memo/css/memorizing.css' %}"></link>
<link rel="stylesheet" href="{% static 'memo/css/progress.css' %}"></link>
{% endblock %}


{% block content %}
{% verbatim %}
<div id="app" class="ui center aligned grid">
	<div class="eight wide column">
		<div v-if="start">
			<div class="ui piled segments" v-if="status>0">
				<div class="ui segment">
					<div class="progress">
						<div class="progress-bar progress-bar-finished" v-bind:style="{ width:  word_stat.percent[0] }">
							<span class="sr-only">{{ word_stat.progress[0] }}</span>
						</div>
						<div class="progress-bar progress-bar-reviewed" v-bind:style="{ width:  word_stat.percent[1] }">
							<span class="sr-only">{{ word_stat.progress[1] }}</span>
						</div>
						<div class="progress-bar progress-bar-unreviewed" v-bind:style="{ width:  word_stat.percent[3] }">
							<span class="sr-only">{{ word_stat.progress[3] }}</span>
						</div>
						<div class="progress-bar progress-bar-forgot" v-bind:style="{ width:  word_stat.percent[2] }">
							<span class="sr-only">{{ word_stat.progress[2] }}</span>
						</div>
					</div>
					<!-- <p>Your Statistic: {{ word_stat.progress }}</p> -->
				</div>
				<div class="ui segment word-content">
					<p>{{ current_word.content }}</p>
				</div>
				<div class="ui segment" v-show="status<=2">
					<p>{{ current_word.example }}</p>
				</div>
				<div class="ui segment" v-show="status<=1">
					<p>{{ current_word.description }}</p>
				</div>
				<div class="ui segment" v-show="status>=2">
					<div class="ui centered two column grid">
						<div class="right aligned four wide column">
							<button class="ui green button" @click="choose(true)">识得</button>
						</div>
						<div class="four wide column">
							<button class="ui orange button" @click="choose(false)">唔识得</button>
						</div>
					</div>
				</div>
				<div class="ui segment" v-show="status==1" @click="choose(false)">
					<div class="ui teal button">查看</div>
				</div>
			</div>
			<div class="ui stacked segments" v-else>
				<div class="ui segment word-content">
					<p>{{ current_word.content }}</p>
				</div>
				<div class="ui segment" v-show="status<=2">
					<p>{{ current_word.example }}</p>
				</div>
				<div class="ui segment" v-show="status<=1">
					<p>{{ current_word.description }}</p>
				</div>
				<div class="ui segment">
					<div class="ui segments">
						<div class="ui segment" v-for="note in current_word.notes">
							{{ note.content }} - {{ note.user }}
						</div>
						<div class="ui segment">
							<a href="/word/{{ current_word.id }}" target="_blank">进入笔记页</a>
						</div>
					</div>
				</div>
				<div class="ui segment" @click="next">
					<div class="ui teal button">下一个</div>
				</div>
			</div>
		</div>
		<div class="ui segment" v-else>
			<div class="ui two column grid">
				<div class="eight wide column">
					<p>今天要背的单词：{{ word_stat.total }}</p>
					<p>已完成：{{ word_stat.progress[0] }}</p>
				</div>
				<div class="four wide column">
					<button class="ui big green circular button" @click="do_finish" v-if="finish">再来一组</button>
					<button class="ui button" @click="begin" v-else>开始</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endverbatim %}
<script src="{% static 'memo/js/memo.js' %}"></script>
{% endblock %}
