{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="ui main container items centered grid">
  <div class="row">
    <div class="ten wide column">
      <div class="ui segments">
        <div class="ui basic segment">
          <h1>User Profile</h1>
        </div>
        {% if messages %}
          <div class="ui basic segment">
              {% for message in messages %}
                <div class="ui {{ message.tags }} message">
                    <i class="close icon"></i>
                    <p>{{ message }}</p>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        <div class="ui basic segment">
          <h2>你已掌握 {{ total_words }} 个单词</h2>
        </div>
        <div class="ui basic segment">
          <div class="row">
            <form method="post" class="ui form">
            {% csrf_token %}
              <div class="inline field">
                <label>选择词书</label>
                <select name="vocabulary" class="ui fluid dropdown">
                  <option value="">Select Vocabulary</option>
                  {% for v in vocs %}
                    <option value="{{ v.id }}" {% if v == current_voc %}selected="selected"{% endif %}>
                      {{ v.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>
              <div class="inline field">
                <label>每日单词数</label>
                <input type="text" name="daily_words" value="{{ daily_words }}">
              </div>
              <div class="field">
                <input class="ui blue button" type="submit" value="确认">
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<script type="text/javascript">
$(document).ready(function () {
  $('select.dropdown').dropdown();
  $('.message .close').on('click', function() {
    $(this).closest('.message').transition('fade');
  });
});
</script>
{% endblock %}
