{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="ui centered grid">
	<div class="eight wide column">
		<div class="ui piled segments" word-id="{{ id }}">
			<div class="ui segment">{{ content }}</div>
			<div class="ui segment">Description: {{ description }}</div>
			<div class="ui segment">Sentence: {{ example }}</div>
			<div class="ui segment">
				<div action="post" class="ui form">
					<div class="field">
						<label>笔记</label>
						<textarea rows="3" name="content"></textarea>
					</div>
					<button class="ui button" id="submit">提交</button>
				</div>
			</div>
			<div class="ui segments" id="notes">
			{% for note in notes %}
				<div class="ui segment">
					{{ note.content }} by {{ note.user }}
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
<script src="{% static 'memo/js/word.js' %}"></script>
{% endblock %}
